
/* -----------top  device responsive ----------- */
@media screen and (max-width:992px) {

    .input-design{
        display: flex;
    }
    .header-content h1 {
        font-size: 65px;
        font-weight: 400;
    }
}

/* -----------medium device responsive ----------- */
@media screen and (max-width:768px) {
    .header-logo img{
        width: 60px;
    }
    .header-logo p{
        font-size: 35px;
    
    }

    .input-design{
        display: block;
    }
    .input-text {
        width: 100%;
        display: block;
    }
    .header-login-design{
        display: block;
    }
    .input-btn{
        display: block;
    }
    .header-content h1 {
        font-size: 40px;
        font-weight: 400;
    }
    h1.display1 {
        font-size: 60px;
    }

}

/* -----------small device responsive ----------- */
@media screen and (max-width:576px) {
    .header-logo img{
        width: 50px;
    }
    .header-logo p{
        font-size: 30px;
    
    }
    .header-content h1 {
        font-size: 25px;
        font-weight: 400;
    }
    h1.display1 {
        font-size: 50px;
    }
    .header-content{
        padding-top: 60px;
    }
    .header-content p{
        font-size: 11px;
    }
   
   .input-text-design{
    display: block;
   }
   .input-btn-ano{
    display: block;
   }
   .input-btn{
    display: none;
   }
   .display1{
    font-size: 40px;
   }

   /* ------------feature section design---------
   ------------------------------------------------- */
   .memory-img h3 {

   padding-left: 120px;
}

}

