
/* -----------top  device responsive ----------- */
@media screen and (max-width:992px) {
    .header-content h1{
        font-size: 40px;
    
    }
    .input-design{
        display: flex;
    }
    
}

/* -----------medium device responsive ----------- */
@media screen and (max-width:768px) {
    .header-content h1{
        font-size: 30px;
    
    }
    .input-design{
        display: block;
    }
    .input-text {
        width: 100%;
        display: block;
    }
    .header-login-design{
        display: block;
    }
    .input-btn{
        display: block;
    }
    
}

/* -----------small device responsive ----------- */
@media screen and (max-width:576px) {

    .header-content{
        padding-top: 50px;
    }
    .header-content h1{
        font-size: 22px;
    }
    .header-content p{
        font-size: 11px;
    }
   
   .input-text-design{
    display: block;
   }
   .input-btn-ano{
    display: block;
   }
   .input-btn{
    display: none;
   }
}