body{
    font-family: 'Roboto', sans-serif;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Rubik', sans-serif;
}
img{
    width: 100%;
}
video{
    width: 100%;
    border-radius: 5px;
}

/* ------------------------header-section design-----
---------------------------------------------------------- */
.header-section {
    background-image: url(img/cover.jpeg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.header-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0d0c0ca6;
    z-index: -1;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.header-logo img{
    width: 70px;
}
.header-logo p{
    font-size: 40px;
    color: #f81018;

}
.header-logo span {
    color: #ff5400;
   
}

.header-btn {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
    background: #ff533cf2;
    padding: 5px 30px;
    
}
.header-content{
    text-align: center;
    color: #fff;
    padding-top: 80px;
}
.header-content h1{
    font-size: 55px;
    font-weight: 400;

}

.input-btn-ano{
    display: none;
}
.input-text-design{
    background: #fff;
    padding: 10px 30px;
    font-size: 16px;
    outline: none;
    border-radius: 25px;
    border: none;
    margin-right: 20px;
}
.input-btn-design{
    font-size: 20px;
    border: none;
    border-radius: 35px;
    padding: 9px 35px;
    background: #ff5e36;
    color: #fff;
}

/* ----------------------------feature section design---------
-------------------------------------------------------------------- */
.feature-item{
    position: relative;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.feature-img img{
    border-radius: 7px;
}
.feature-price h2 {
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: #655b5b;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    /* position: absolute; */
    left: 10px;
    /* top: 140px; */
}
.feature-rating {
    width: 130px;
    height: 30px;
    color: #ffa100;
    background: #070018;
    position: absolute;
    right: 0;
    text-align: center;
    border-radius: 5px;
   /* top: 144px; */
}
.feature-content {
    padding: 0 12px;
    text-align: justify;
}
.feature-content h3 {
    font-size: 28px;
    margin-top: 10px;
    color: #311267;
}
.feature-content p {
    font-size: 15px;
    color: #555353;
}
.feature-bottom span {
    margin-right: 4px;
    color: darkblue;
    margin-left: 2px;
}
.feature-bottom p {
    font-size: 14px;
}

/* --------------------memory image----------------
--------------------------------------------------------- */
.memory-img{
    position: relative;
}
.memory-img img{
    border-radius: 8px;
    transition:1s ease-in-out;
    cursor: pointer;
}
.memory-img:hover img {
    transform: scale(1.1);
}
.memory-img h3 {
    position: absolute;
    color: #f61313;
    top: 50%;
   padding-left: 55px;
    transition: 1s ease-in-out;
}
.memory-img:hover h3 {
    transform: scale(0.8);
}
/* ---------------------------------banner section design-----
-------------------------------------------------------------------- */
.banner-section{
    background-image: url(place/banner.jpg);
    padding: 100px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.highlight-banner {
    padding: 80px 0px;
    background: #171414a1;
    color: #fff;
}
.banner-btn {
    text-align: center;
    padding-top: 40px;
}
.banner-btn a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 8px;
    transition: .5s;
    font-weight: 600;
}
.banner-btn a:hover{
    color: #070018;
    background: navajowhite;
}
.banner-title p {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #cfcccc;
}
/* ---------------------videos section design-------------
----------------------------------------------------------------- */
.videos-item{
    padding:20px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
}
.videos-item h2{
    color: #347a7f;
}
.videos-item p{
    font-size: 16px;
    color: #070018;
}

/* ------------------------friends review section design ------------
-------------------------------------------------------------------------- */
.chill-icon {
    font-size: 60px;
    color: #655b5b;
    font-weight: 500;
    width: 80px;
    height: 80px;
    background: #ff9e9e;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
}
.review-team{
    box-shadow: rgba(222, 179, 179, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding:20px 10px;
    margin-bottom: 40px;
    /* position: relative; */
}
.review-content{
    
}
.review-content p{
    font-size: 14px;
    color: #555353;
}
.review-img{
    text-align: center;
}
.review-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* position: absolute;
     bottom: -35px;
    left: 140px;  */
}
/* --------------------------footer section design---------
----------------------------------------------------------------------- */
.footer-section{
    /* background: #311267; */
    /* background-image: linear-gradient(  #da22ff  #9733ee); */
    background: rgb(25,27,34);
background: linear-gradient(90deg, rgba(25,27,34,0.8099614845938375) 38%, rgba(120,0,231,0.9023984593837535) 71%, rgba(63,73,177,1) 82%, rgba(199,67,254,0.8883928571428571) 93%);
}
.footer-item strong{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-top: 20px;
}
.footer-item{}
.footer-item h2{
    color: #cfcccc;
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid rgb(37, 20, 55);
    padding: 15px 0;
}
.footer-item ul{
    list-style: none;
}
.footer-item ul li{
    padding:10px 0px;
}
.footer-item ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
   
}
.footer-item ul li span {
    color: #e5e5e5;
    background: rgb(255, 92, 32);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 22px;
}
.footer-bottom{
    color: #fff;
    font-size: 16px;
    border-top: 1px solid rgb(58, 40, 40);
    margin-bottom: 0;
    padding-top: 25px;
}
.footer-bottom a{
    text-decoration: none;
    color: #ff5400;
    font-size: 20px;
    transition: .5s;
    font-weight: 600;
}
.footer-bottom a:hover{
    letter-spacing: 1px;
}


/* ------------------------------------
----------------------------------------------------------dhaka folder design----------
---------------------------------------------------------------------------------- */
h1.display1 {
    font-size: 100px;
}
.image-item  img{
    border-radius: 8px;
}